<div class='large-12 small-12 columns top_padding'>
	<div class='large-10 large-offset-1 columns'>
		<h3>Admin page</h3>

		<% if @not_approved_bnpost.any? %>
			<div class='large-12 small-12 columns no_padding top_padding'>
				<h4>Not approved BN article</h4><br>
				<% @not_approved_bnpost.each do |achievement| %>
					<div class="large-3 small-12 columns block_card end">
	                    <div class="large-12 small-12 columns block_border no_padding">
	                        <div class='large-12 small-12 columns no_padding image_holder'>
	                            <%= image_tag (achievement.photo) %>
	                        </div>

	                        <div class="large-12 small-12 columns">
	                            <h6 style="height: 45px; overflow: hidden; margin-bottom: 5px;"><%= link_to achievement.title, achievement, style: "color: black;" %>
	                            </h6>
	                            <p style="display: inline-block;" class="author">Submitted <%= time_ago_in_words(achievement.created_at) %> ago by <%= achievement.user.username %> <br><%= achievement.comments.count %> comments</p>
	                            <p class="block_description"><%= achievement.description %></p>
	                            <p><%= link_to "View more details", achievement %></p>
	                        </div>

	                        <div class="large-12 small-12 columns no_padding block_engage">
	                      		<%= form_with(model: achievement, local: true) do |form| %>
	                      			<div class="large-12 small-12 columns">
		                  				<div class="large-12 small-12 columns">
		                  					<%= form.label :approved %>
		                  					<%= form.select :approved, ['true', 'false'], id: :achievement_status %>
		                  					<br>
		                  					<%= form.label :status %>
		                  					<%= form.select :status, ['Pending', 'Completed'], id: :achievement_status %>
		                  				</div>
								        <%= form.submit %>
								    </div>
	                      		<% end %>
	                        </div>
	                    </div>
	                </div>
				<% end %>
			</div>
		<% end %>

		<% if @not_approved_phpost.any? %>
			<div class='large-12 small-12 columns no_padding top_padding'>
				<h4>Not approved PH article</h4><br>
				<% @not_approved_phpost.each do |achievement| %>
					<div class="large-3 small-12 columns block_card end">
	                    <div class="large-12 small-12 columns block_border no_padding">
	                        <div class='large-12 small-12 columns no_padding image_holder'>
	                            <%= image_tag (achievement.photo) %>
	                        </div>

	                        <div class="large-12 small-12 columns">
	                            <h6 style="height: 45px; overflow: hidden; margin-bottom: 5px;"><%= link_to achievement.title, achievement, style: "color: black;" %>
	                            </h6>
	                            <p style="display: inline-block;" class="author">Submitted <%= time_ago_in_words(achievement.created_at) %> ago by <%= achievement.user.username %> <br><%= achievement.comments.count %> comments</p>
	                            <p class="block_description"><%= achievement.description %></p>
	                            <p><%= link_to "View more details", achievement %></p>
	                        </div>

	                        <div class="large-12 small-12 columns no_padding block_engage">
	                      		<%= form_with(model: achievement, local: true) do |form| %>
	                      			<div class="large-12 small-12 columns">
		                  				<div class="large-12 small-12 columns">
		                  					<%= form.label :approved %>
		                  					<%= form.select :approved, ['true', 'false'], id: :achievement_status %>
		                  					<br>
		                  					<%= form.label :status %>
		                  					<%= form.select :status, ['Pending', 'Completed'], id: :achievement_status %>
		                  				</div>
								        <%= form.submit %>
								    </div>
	                      		<% end %>
	                        </div>
	                    </div>
	                </div>
				<% end %>
			</div>
		<% end %>

		<% if @not_approved_opinion.any? %>
			<div class='large-12 small-12 columns no_padding top_padding'>
				<h4>Not approved Opinion article</h4><br>
				<% @not_approved_opinion.each do |achievement| %>
					<div class="large-3 small-12 columns block_card end">
	                    <div class="large-12 small-12 columns block_border no_padding">
	                        <div class='large-12 small-12 columns no_padding image_holder'>
	                            <%= image_tag (achievement.photo) %>
	                        </div>

	                        <div class="large-12 small-12 columns">
	                            <h6 style="height: 45px; overflow: hidden; margin-bottom: 5px;"><%= link_to achievement.title, achievement, style: "color: black;" %>
	                            </h6>
	                            <p style="display: inline-block;" class="author">Submitted <%= time_ago_in_words(achievement.created_at) %> ago by <%= achievement.user.username %> <br><%= achievement.comments.count %> comments</p>
	                            <p class="block_description"><%= achievement.description %></p>
	                            <p><%= link_to "View more details", achievement %></p>
	                        </div>

	                        <div class="large-12 small-12 columns no_padding block_engage">
	                      		<%= form_with(model: achievement, local: true) do |form| %>
	                      			<div class="large-12 small-12 columns">
		                  				<div class="large-12 small-12 columns">
		                  					<%= form.label :approved %>
		                  					<%= form.select :approved, ['true', 'false'], id: :achievement_status %>
		                  					<br>
		                  					<%= form.label :status %>
		                  					<%= form.select :status, ['Pending', 'Completed'], id: :achievement_status %>
		                  				</div>
								        <%= form.submit %>
								    </div>
	                      		<% end %>
	                        </div>
	                    </div>
	                </div>
				<% end %>
			</div>
		<% end %>

		<% if @approved_post.any? %>
			<div class="large-12 small-12 columns no_padding top_padding">
				<h4>Approved article</h4><br>
				<% @approved_post.each do |achievement| %>
					<div class="large-3 small-12 columns block_card end">
	                    <div class="large-12 small-12 columns block_border no_padding">
	                        <div class='large-12 small-12 columns no_padding image_holder'>
	                            <%= image_tag (achievement.photo) %>
	                        </div>

	                        <div class="large-12 small-12 columns">
	                            <h6 style="height: 45px; overflow: hidden; margin-bottom: 5px;"><%= link_to achievement.title, achievement, style: "color: black;" %>
	                            </h6>
	                            <p style="display: inline-block;" class="author">Submitted <%= time_ago_in_words(achievement.created_at) %> ago by <%= achievement.user.username %> <br><%= achievement.comments.count %> comments</p>
	                            <p class="block_description"><%= achievement.description %></p>
	                            <p><%= link_to "View more details", achievement %></p>
	                        </div>

	                        <div class="large-12 small-12 columns no_padding block_engage">
	                      		<%= form_with(model: achievement, local: true) do |form| %>
	                      			<div class="large-12 small-12 columns">
		                  				<div class="large-12 small-12 columns">
		                  					<%= form.label :approved %>
		                  					<%= form.select :approved, ['true', 'false'], id: :achievement_status %>
		                  					<br>
		                  					<%= form.label :status %>
		                  					<%= form.select :status, ['Pending', 'Completed'], id: :achievement_status %>
		                  				</div>
								        <%= form.submit %>
								    </div>
	                      		<% end %>
	                        </div>
	                    </div>
	                </div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>