<div class='large-12 small-12 columns no_padding top_padding'>
    <div class='large-10 large-offset-1 small-12 columns'>
        <% if @bn_pending.any? %>
            <div class="large-12 small-12 columns top_padding">
                <h2>List of Barisan National Pending Promises</h2>
                <% @bn_pending.each do |achievement| %>
                    <div class="large-3 small-12 columns block_card end">
                        <div class="large-12 small-12 columns block_border no_padding">
                            <div class='large-12 small-12 columns no_padding image_holder'>
                                <%= image_tag (achievement.photo) %>
                            </div>

                            <div class="large-12 small-12 columns">
                                <h6 style="height: 45px; overflow: hidden; margin-bottom: 5px;"><%= link_to achievement.title, achievement, style: "color: black;" %>
                                </h6>
                                <p style="display: inline-block;" class="author">Submitted <%= time_ago_in_words(achievement.created_at) %> ago by <%= achievement.user.username %> <br><%= achievement.comments.count %> comments</p>
                                <p class="block_description"><%= achievement.description %></p>
                                <p><%= link_to "View more details", achievement %></p>
                            </div>

                            <% if current_user %>
                                <div class="large-12 small-12 columns no_padding block_engage">
                                    <%= link_to like_achievement_path(achievement), method: :post, remote: true do %>
                                        <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                            <i class="em em-smile"></i> <span class="upvote_count" data-id="<%= achievement.id %>"><%= achievement.get_upvotes.size  %>
                                        </div>
                                    <% end %>

                                    <%= link_to dislike_achievement_path(achievement), method: :post, remote: true do %>
                                        <div class="large-6 small-6 columns no_padding">
                                            <i class="em em-angry"></i> <span class="downvote_count" data-id="<%= achievement.id %>"><%= achievement.get_downvotes.size  %>
                                        </div>
                                    <% end %>
                                </div>
                            <% else %>
                                <div class="large-12 small-12 columns no_padding block_engage">
                                    <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                        <i class="em em-smile"></i> <%= achievement.get_upvotes.size  %>
                                    </div>

                                    <div class="large-6 small-6 columns no_padding">
                                        <i class="em em-angry"></i> <%= achievement.get_downvotes.size  %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>

        <% if @bn_completed.any? %>
            <div class="large-12 small-12 columns top_padding">
                <h2>List of Barisan National Completed Promises</h2>
                <% @bn_completed.each do |achievement| %>
                    <div class="large-3 small-12 columns block_card end">
                        <div class="large-12 small-12 columns block_border no_padding">
                            <div class='large-12 small-12 columns no_padding image_holder'>
                                <%= image_tag (achievement.photo) %>
                            </div>

                            <div class="large-12 small-12 columns">
                                <h6 style="height: 45px; overflow: hidden; margin-bottom: 5px;"><%= link_to achievement.title, achievement, style: "color: black;" %>
                                </h6>
                                <p style="display: inline-block;" class="author">Submitted <%= time_ago_in_words(achievement.created_at) %> ago by <%= achievement.user.username %> <br><%= achievement.comments.count %> comments</p>
                                <p class="block_description"><%= achievement.description %></p>
                                <p><%= link_to "View more details", achievement %></p>
                            </div>

                            <% if current_user %>
                                <div class="large-12 small-12 columns no_padding block_engage">
                                    <%= link_to like_achievement_path(achievement), method: :post, remote: true do %>
                                        <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                            <i class="em em-smile"></i> <span class="upvote_count" data-id="<%= achievement.id %>"><%= achievement.get_upvotes.size  %>
                                        </div>
                                    <% end %>

                                    <%= link_to dislike_achievement_path(achievement), method: :post, remote: true do %>
                                        <div class="large-6 small-6 columns no_padding">
                                            <i class="em em-angry"></i> <span class="downvote_count" data-id="<%= achievement.id %>"><%= achievement.get_downvotes.size  %>
                                        </div>
                                    <% end %>
                                </div>
                            <% else %>
                                <div class="large-12 small-12 columns no_padding block_engage">
                                    <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                        <i class="em em-smile"></i> <%= achievement.get_upvotes.size  %>
                                    </div>

                                    <div class="large-6 small-6 columns no_padding">
                                        <i class="em em-angry"></i> <%= achievement.get_downvotes.size  %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>