<div class="large-12 small-12 columns no_padding"> 
    <div class="large-12 small-12 columns home_bg text-center">
        <p id="notice" class="margin0"><%= notice %></p>
        <h1 class="text-white">Lets build a better Malaysia. Together.</h1>
        <p class="text-white">We build this for the community, by the community. We track all coalitions promises, and their progress.</p>
        <div class="button alert text-white"><%= link_to 'Join the community', new_user_registration_path %></div>
    </div>

    <div class="large-12 small-12 columns promises">
        <div class="large-10 large-offset-1 small-12 columns">
            <% if @bn_promises.any? %>
                <div class='large-12 small-12 columns no_padding'>
                    <h2>List of Barisan National Promises <div class="button success mob_btn" style='float:right;'><%= link_to "view all BN promises", bn_promises_path %></div></h2>
                    <% @bn_promises.each do |achievement| %>

                        <div class="large-3 small-12 columns block_card end">
                            <div class="large-12 small-12 columns block_border no_padding">
                                <div class='large-12 small-12 columns no_padding image_holder'>
                                    <%= image_tag (achievement.photo) %>
                                </div>

                                <div class="large-12 small-12 columns">
                                    <h6 style="height: 45px; overflow: hidden; margin-bottom: 5px;"><%= link_to achievement.title, achievement, style: "color: black;" %>
                                    </h6>
                                    <p style="display: inline-block;" class="author">Submitted <%= time_ago_in_words(achievement.created_at) %> ago by <%= achievement.user.username %> <br><%= achievement.comments.count %> comments</p>
                                    <p class="block_description"><%= achievement.description %></p>
                                    <p>Status: <b><%=achievement.status%></b></p>
                                    <p><%= link_to "View more details", achievement %></p>
                                </div>

                                <% if current_user %>
                                    <div class="large-12 small-12 columns no_padding block_engage">
                                        <%= link_to like_achievement_path(achievement), method: :post, remote: true do %>
                                            <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                                <i class="em em-smile"></i> <span class="upvote_count" data-id="<%= achievement.id %>"><%= achievement.get_upvotes.size  %></span>
                                            </div>
                                        <% end %>

                                        <%= link_to dislike_achievement_path(achievement), method: :post, remote: true do %>
                                            <div class="large-6 small-6 columns no_padding">
                                                <i class="em em-angry"></i> <span class="downvote_count" data-id="<%= achievement.id %>"><%= achievement.get_downvotes.size  %></span>
                                            </div>
                                        <% end %>
                                    </div>
                                <% else %>
                                    <div class="large-12 small-12 columns no_padding block_engage">
                                        <%= link_to new_user_session_path do%>
                                            <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                                <i class="em em-smile"></i> <%= achievement.get_upvotes.size  %>
                                            </div>
                                        <% end %>

                                        <%= link_to new_user_session_path do %>
                                            <div class="large-6 small-6 columns no_padding">
                                                <i class="em em-angry"></i> <%= achievement.get_downvotes.size  %>
                                            </div>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>

            <% if @ph_promises.any? %>
                <div class='large-12 small-12 columns no_padding top_padding'>
                    <h2>List of Pakatan Harapan Promises <div class="button success mob_btn" style='float:right;'><%= link_to "view all PH promises", ph_promises_path %></div></h2>
                    <% @ph_promises.each do |achievement| %>
                        <div class="large-3 small-12 columns block_card end">
                            <div class="large-12 small-12 columns block_border no_padding">
                                <div class='large-12 small-12 columns no_padding image_holder'>
                                    <%= image_tag (achievement.photo) %>
                                </div>

                                <div class="large-12 small-12 columns">
                                    <h6 style="height: 45px; overflow: hidden; margin-bottom: 5px;"><%= achievement.title %>
                                    </h6>
                                    <p style="display: inline-block;" class="author">Submitted <%= time_ago_in_words(achievement.created_at) %> ago by <%= achievement.user.username %> <br><%= achievement.comments.count %> comments</p>
                                    <p class="block_description"><%= achievement.description %></p>
                                    <p>Status: <b><%=achievement.status%></b></p>
                                    <p><%= link_to "View more details", achievement %></p>
                                    
                                </div>
                                <% if current_user %>
                                    <div class="large-12 small-12 columns no_padding block_engage">
                                        <%= link_to like_achievement_path(achievement), method: :post, remote: true do %>
                                            <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                                <i class="em em-smile"></i> <span class="upvote_count" data-id="<%= achievement.id %>"><%= achievement.get_upvotes.size %></span>
                                            </div>
                                        <% end %>

                                        <%= link_to dislike_achievement_path(achievement), method: :post, remote: true do %>
                                            <div class="large-6 small-6 columns no_padding">
                                                <i class="em em-angry"></i> <span class="downvote_count" data-id="<%= achievement.id %>"><%= achievement.get_downvotes.size  %></span>
                                            </div>
                                        <% end %>
                                    </div>
                                <% else %>
                                    <div class="large-12 small-12 columns no_padding block_engage">
                                        <%= link_to new_user_session_path do%>
                                            <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                                <i class="em em-smile"></i> <%= achievement.get_upvotes.size  %>
                                            </div>
                                        <% end %>

                                        <%= link_to new_user_session_path do %>
                                            <div class="large-6 small-6 columns no_padding">
                                                <i class="em em-angry"></i> <%= achievement.get_downvotes.size  %>
                                            </div>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>

            <% if @opinions.any? %>
                <div class='large-12 small-12 columns no_padding top_padding'>
                    <h2>Opinions <div class="button success mob_btn" style='float:right;'><%= link_to "view all Opinions", opinions_path %></div></h2>
                    <% @opinions.each do |achievement| %>
                        <div class="large-3 small-12 columns block_card end">
                            <div class="large-12 small-12 columns block_border no_padding">
                                <div class='large-12 small-12 columns no_padding image_holder'>
                                    <%= image_tag (achievement.photo) %>
                                </div>

                                <div class="large-12 small-12 columns">
                                    <h6 style="height: 45px; overflow: hidden; margin-bottom: 5px;"><%= achievement.title %>
                                    </h6>
                                    <p style="display: inline-block;" class="author">Submitted <%= time_ago_in_words(achievement.created_at) %> ago by <%= achievement.user.username %> <br><%= achievement.comments.count %> comments</p>
                                    <p class="block_description"><%= achievement.description %></p>
                                    <p>Status: <b><%=achievement.status%></b></p>
                                    <p><%= link_to "View more details", achievement %></p>
                                    
                                </div>
                                <% if current_user %>
                                    <div class="large-12 small-12 columns no_padding block_engage">
                                        <%= link_to like_achievement_path(achievement), method: :post, remote: true do %>
                                            <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                                <i class="em em-smile"></i> <span class="upvote_count" data-id="<%= achievement.id %>"><%= achievement.get_upvotes.size %></span>
                                            </div>
                                        <% end %>

                                        <%= link_to dislike_achievement_path(achievement), method: :post, remote: true do %>
                                            <div class="large-6 small-6 columns no_padding">
                                                <i class="em em-angry"></i> <span class="downvote_count" data-id="<%= achievement.id %>"><%= achievement.get_downvotes.size  %></span>
                                            </div>
                                        <% end %>
                                    </div>
                                <% else %>
                                    <div class="large-12 small-12 columns no_padding block_engage">
                                        <%= link_to new_user_session_path do%>
                                            <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                                <i class="em em-smile"></i> <%= achievement.get_upvotes.size  %>
                                            </div>
                                        <% end %>

                                        <%= link_to new_user_session_path do %>
                                            <div class="large-6 small-6 columns no_padding">
                                                <i class="em em-angry"></i> <%= achievement.get_downvotes.size  %>
                                            </div>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>