 <div class="large-12 small-12 columns promises">
    <div class="large-10 large-offset-1 small-12 columns">
        <% if (current_user.achievements || current_user.comments).empty? %>
            <h3 class='text-center'>You currently do not have any post. Start contributing!</h3>
        <% end %>
    	<% if @my_post.any? %>
            <div class='large-12 small-12 columns no_padding'>
                <h2>My post</h2>
                <% @my_post.each do |achievement| %>
                    <div class="large-3 small-12 columns block_card end">
                        <div class="large-12 small-12 columns block_border no_padding">
                            <div class='large-12 small-12 columns no_padding image_holder'>
                                <%= image_tag (achievement.photo) %>
                            </div>

                            <div class="large-12 small-12 columns">
                                <h6 style="height: 45px; overflow: hidden; margin-bottom: 5px;"><%= achievement.title %>
                                </h6>
                                <p style="display: inline-block;" class="author">Submitted <%= time_ago_in_words(achievement.created_at) %> ago by <%= achievement.user.username %> <br><%= achievement.comments.count %> comments</p>
                                <p class="block_description"><%= achievement.description %></p>
                                <p><b>Admin Approved: <%= achievement.approved %></b></p>
                                <p><%= link_to "View more details", achievement %></p>
                                
                            </div>
                            <% if current_user %>
                                <div class="large-12 small-12 columns no_padding block_engage">
                                    <%= link_to like_achievement_path(achievement), method: :put do %>
                                        <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                            <i class="em em-smile"></i> <%= achievement.get_upvotes.size  %>
                                        </div>
                                    <% end %>

                                    <%= link_to dislike_achievement_path(achievement), method: :put do %>
                                        <div class="large-6 small-6 columns no_padding">
                                            <i class="em em-angry"></i> <%= achievement.get_downvotes.size  %>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>

        <% if @my_comments.any? %>
            <div class='large-12 small-12 columns no_padding'>
                <h2>Commented Posts</h2>
                <% @my_comments.each do |comment| %>
                    <div class="large-3 small-12 columns block_card end">
                        <div class="large-12 small-12 columns block_border no_padding">
                            <div class='large-12 small-12 columns no_padding image_holder'>
                                <%= image_tag (comment.achievement.photo) %>
                            </div>

                            <div class="large-12 small-12 columns">
                                <h6 style="height: 45px; overflow: hidden; margin-bottom: 5px;"><%= comment.achievement.title %>
                                </h6>
                                <p style="display: inline-block;" class="author">Submitted <%= time_ago_in_words(comment.achievement.created_at) %> ago by <%= comment.achievement.user.username %> <br><%= comment.achievement.comments.count %> comments</p>
                                <p class="block_description"><%= comment.achievement.description %></p>
                                <p><%= link_to "View more details", comment.achievement %></p>
                                
                            </div>
                            <% if current_user %>
                                <div class="large-12 small-12 columns no_padding block_engage">
                                    <%= link_to like_achievement_path(comment.achievement), method: :put do %>
                                        <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                            <i class="em em-smile"></i> <%= comment.achievement.get_upvotes.size  %>
                                        </div>
                                    <% end %>

                                    <%= link_to dislike_achievement_path(comment.achievement), method: :put do %>
                                        <div class="large-6 small-6 columns no_padding">
                                            <i class="em em-angry"></i> <%= comment.achievement.get_downvotes.size  %>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
