<div class="large-12 small-12 columns show_page">
    <p id="notice" class="text-center"><%= notice %></p>
    <div class="large-8 large-offset-2 small-12 columns">
        <div class="large-12 small-12 columns no_padding text-center show_image">
            <%= image_tag (@achievement.photo) %>
        </div>

        <div class="large-12 small-12 columns no_padding">
            <h2 style="margin-bottom: 5px;"><%= @achievement.title %> </h2><span class="author"> Submitted <%= time_ago_in_words(@achievement.created_at) %> ago by <%= @achievement.user.username %></span><br><br>
            
            <p><%= @achievement.description %></p>
            <p class="details"><b>Source:</b> <%= link_to @achievement.source, @achievement.source, target: "_blank", style: "color: lightblue;" %></p>
            <p class="details"><b>Budget:</b> <%= number_to_currency(@achievement.amount, unit: 'RM ') %></p>
            <p class="details"><b>Coalition:</b> <%= @achievement.party %></p>
            <p class="details"><b>State:</b> <%= @achievement.location %></p>
            <p class="details"><b>Status:</b> <%= @achievement.status %></p>
            <% if current_user %>
                <div class="large-12 small-12 columns no_padding block_engage">
                    <div class="large-4 small-12 columns no_padding">
                        <div class="large-12 small-12 columns no_padding">
                            <%= link_to like_achievement_path(@achievement), method: :put do %>
                                <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                                    <i class="em em-smile"></i> <%= @achievement.get_upvotes.size  %>
                                </div>
                            <% end %>

                            <%= link_to dislike_achievement_path(@achievement), method: :put do %>
                                <div class="large-6 small-6 columns no_padding">
                                    <i class="em em-angry"></i> <%= @achievement.get_downvotes.size  %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% else %>
                <div class="large-12 small-12 columns no_padding block_engage">
                    <div class="large-6 small-6 columns no_padding" style='border-right: 1px solid #f3f3f3;'>
                        <i class="em em-smile"></i> <%= @achievement.get_upvotes.size  %>
                    </div>

                    <div class="large-6 small-6 columns no_padding">
                        <i class="em em-angry"></i> <%= @achievement.get_downvotes.size  %>
                    </div>
                </div>
            <% end %>

            <% if @achievement.user == current_user %>
                <div class="button success"><%= link_to 'Edit', edit_achievement_path(@achievement) %></div>
                <div class="button alert"><%= link_to 'Destroy', @achievement, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            <% end %>

            <div class="large-12 small-12 columns" style="padding: 50px 0;">
                <h3><%= @achievement.comments.count %> Comments</h3>
                <%= render :partial => @achievement.comments.order("created_at DESC") %>

                <%= simple_form_for [@achievement, Comment.new] do |f| %>
                  <%= f.text_area :body %>

                  <% if current_user %>
                    <%= f.submit "Add Comment" %>
                  <% else %>
                    <div class="button success"><%= link_to "Sign up to contribute", new_user_registration_path %></div>
                  <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
