<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Lets build a better Malaysia. Together.">
    <meta property="og:description" content="We build this for the community, by the community. We track all coalitions promises, and their progress.">
    <meta property="og:image" content='http://www.janganlupa.la/assets/malaysia-f58d5369643eee2e16e804f5d5beab2bb14d22e8a2d6c55e867289f95978851f.jpg'>
    <meta property="og:url" content="http://www.janganlupa.la">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <title>Jangan Lupa La</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Jangan Lupa La", root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if user_signed_in? %>
            <li class="active"><%= link_to 'Create New Promises', new_achievement_path %></li>
            <li><%= link_to 'Admin Page', admin_path if current_user.email == "janganlupa@admin.my"%></li>
            <li><%= link_to 'My Posts', my_activity_path %></li>
            <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Log in", new_user_session_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
    <div class="mobile_menu" style="display: none;">
       <% if user_signed_in? %>
          <div class="mob_menu"><%= link_to 'Create New Promises', new_achievement_path %></div>
          <% if current_user.email == "janganlupa@admin.my" %>
            <div class="mob_menu"><%= link_to 'Admin Page', admin_path%></div>
          <% end %>
          <div class="mob_menu"><%= link_to 'My Posts', my_activity_path %></div>
          <div class="mob_menu"><%= link_to 'Edit Account', edit_user_registration_path %></div>
          <div class="mob_menu"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></div>
        <% else %>
          <div class="mob_menu"><%= link_to "Sign up", new_user_registration_path %></div>
          <div class="mob_menu"><%= link_to "Log in", new_user_session_path %></div>
        <% end %>
    </div>
  <p class="alert margin0"><%= alert %></p>
    <%= yield %>
  </body>
</html>
